@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@1,300&display=swap");
* {
    margin: 0;
    padding: 0;
    scroll-behavior: smooth;
    box-sizing: border-box;
    font-family: "poppins";
    outline: none;
    border: none;
}

html {
    font-size: 62.5%;
    overflow: hidden;
}

body {
    background-color: #000;
    color: #fff;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 2rem 9%;
    background: #000;
    display: flex;
    justify-content: space-between;
}

section {
    min-height: 100vh;
    padding: 10rem 9%;
}

.Logo {
    font-size: 1.7rem;
    color: #fff;
    text-decoration: none;
    font-weight: 700;
    cursor: pointer;
}

.navbar a {
    color: #fff;
    text-decoration: none;
    font-weight: 800;
    display: inline-block;
    margin-left: 4rem;
    font-size: 1.7rem;
}

.navbar a:hover,
.navbar a.active {
    color: #ef6e12;
}

#menu {
    font-size: 3.6rem;
    display: none;
}

.home {
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-detail h3 {
    font-size: 3.2rem;
    font-weight: 700;
}

.home-detail h1 {
    font-size: 5.6rem;
    font-weight: 700;
    margin: -3px 0;
    opacity: 1;
}

.home-detail p {
    font-size: 1.6rem;
    opacity: 1;
}

.social-media a {
    display: inline-flex;
    width: 4rem;
    height: 4rem;
    border-radius: 50%;
    color: #ef6e12;
    font-size: 2rem;
    border: 2px solid #ef6e12;
    background: transparent;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    margin: 3rem 1.5rem 3rem 0;
    transition: .5s ease;
}


/*for javascript*/

.social-media a:hover {
    background: #ef6e12;
    color: #000;
    box-shadow: 0 0 20px #ef6e12;
}

.home-detail h3:nth-of-type(2) {
    margin-bottom: 2rem;
}

span {
    color: #ef6e12;
}

.home-detail .btn {
    display: inline-block;
    font-size: 1.6rem;
    padding: 1rem 2.8rem;
    border-radius: 40px;
    color: #000;
    background: #ef6e12;
    font-weight: 600;
    text-decoration: none;
    letter-spacing: 1px;
    border: none;
    outline: none;
}

.btn:hover {
    background: #000;
    color: #ef6e12;
    border: 1px solid #ef6e12;
}